<form [formGroup]="form" (ngSubmit)="submit()" class="card">
  <h2>Log in to admin dashboard</h2>

  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
    {{ error }}
  </div>

  <div class="alert alert-info" *ngIf="message">
    {{ message }}
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
  >
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <div
      class="validation"
      *ngIf="form.get('email').touched && form.get('email').invalid"
    >
      <small
        *ngIf="form.get('email').errors.required"
      >
        The email field is required
      </small>
      <small
        *ngIf="form.get('email').errors.email"
      >
        You should provide valid email
      </small>
    </div>
  </div>
  <div
    class="form-control"
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
  >
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
    <div
      class="validation"
      *ngIf="form.get('password').touched && form.get('password').invalid"
    >
      <small
        *ngIf="form.get('password').errors.required"
      >
        The password field is required
      </small>
      <small
        *ngIf="form.get('password').errors.minlength"
      >
        The password should be not less then
        {{form.get('password').errors.minlength.requiredLength}} symbols,
        now it is only
        {{form.get('password').errors.minlength.actualLength}} symbols.
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || submitted"
  >
    Log in
  </button>
</form>
